.sidebar{
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background-color: white;
    margin-bottom: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar-item{
    border-bottom: 2px solid #6606a5;
}
